.crear-tweet-container{
  padding: 16px;
  /* padding-top: 40px; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  outline: 1px solid var(--grey-border);
}

.crear-tweet{
  display: flex;
}

/* .inicio-container{
  position: fixed;
  top: 0px;
  background-color: rgba(25, 163, 129, 0.363);
  height: 40px;
  width: 580px;
  display: flex;
  align-items: center;
} */

.inicio-container > h3{
  font-weight: 900;
}

.crear-tweet > img{
  width: 50px;
  border-radius: 50px;
}

.crear-tweet > input{
  width: 100%;
  background-color: var(--black);
  border: none;
  margin: 8px;
}

.iconos{
  display: flex;
  gap: 12px;
  margin: 16px 50px;
  cursor: pointer;
}

.iconos > img{
  width: 22px;
}

.btn-twittear{
  background-color: var(--blue-twitter);
  border-radius: 20px;
  width: 92px;
  padding: 10px 0;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
