.aside-right{
  position: sticky;
  top: 0;
  height: 100vh;
}
.buscador{
  width: 85%;
  display: flex;
  background-color: var(--grey-border);
  height: 40px;
  margin: 10px auto;
  border-radius: 30px;
  padding: 8px 18px;
  gap: 15px;
}

.buscador > svg{
  width: 20px;
}

.buscador > input{
  background-color: var(--grey-border);
  border: none;
  width: 100%;
  padding-left: 4px;
}

.tendencias-container{
  width: 85%;
  margin: auto;
  padding: 10px;
  background-color: var(--grey-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tendencias-items{
  border-radius: 10px;
  /* background-color: aqua; */
  padding: 10px
}

.tendencias-items > span{
  font-size: .8rem;

  color: #9a9b9c;
}

.tendencias-items > p{
  font-size: 1.3rem;
  color: white;
}