* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  color: aliceblue;

}

:root{
  --black: black;
  --blue-twitter: #1d9bf0;
  --grey-border: #536467;
}

#root{
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
}
.main-section{
  display: flex;
  flex-direction: column;
  max-width: 600px;
}