* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  color: aliceblue;

}

:root{
  --black: black;
  --blue-twitter: #1d9bf0;
  --grey-border: #2F3336;
}

#root{
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 25% 45% 30%;
}

.main-section{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  /* overflow: auto; */
  width: 100%;
}

/* .main-section::-webkit-scrollbar {
  display: none;
} */



@media (width < 1000px) {
  #root{
    grid-template-columns: 10% 50% 40%;
  }
  nav{
    padding: 10px 0 !important;
    min-width: 70px;
  }
  .links-nav{
    min-width: 50px;
    display: flex;
    justify-content: center;
  }
  .links-nav > p {
    display: none;
  }
}

@media (width < 700px) {
  #root{
    grid-template-columns: 70px calc(100% - 70px);
  }
  /* nav{
    padding: 0 !important;
    margin: 10px auto;
    min-width: 70px;
  }
  .links-nav{
    min-width: 50px;
  }
  .links-nav > p {
    display: none;
  } */
}