* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
  color: aliceblue;

}

:root{
  --black: black;
  --blue-twitter: #1d9bf0;
  --grey-border: #536467;
}

#root{
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 50% 25%;
}

.main-section{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  overflow: auto;
}
.main-section::-webkit-scrollbar {
  display: none;
}

@media (width < 1000px) {
  #root{
    grid-template-columns: 10% 50% 40%;
  }
  nav{
    /* d */
    margin: 10px auto !important;
  }
  .links-nav{
    min-width: 50px;
  }
  .links-nav > p {
    display: none;
  }
}